3. **Build a *Random Forest classifier* on any readily available disease dataset to predict the correct disease. Compare the performance of the classifier with *decision tree*.**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('pima.csv')

In [3]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [5]:
X = df.drop('Outcome', axis=1)
Y=df['Outcome']

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

**Standard Scalar**

StandardScaler is used to resize the distribution of values ​​so that the mean of the observed values ​​is 0 and the standard deviation is 1

In [24]:
X_scaled = scaler.fit_transform(X)
print(X_scaled)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,Y_train,Y_test = train_test_split(X_scaled,Y, test_size=0.2, random_state=100)

**MODEL 1 : Random Forest**

In [10]:
from sklearn.ensemble import RandomForestClassifier

In [11]:
model1 = RandomForestClassifier()

In [12]:
model1.fit(X_train,Y_train)

RandomForestClassifier()

In [13]:
Y_pred = model1.predict(X_test)

In [14]:
from sklearn.metrics import accuracy_score, classification_report

In [15]:
print(accuracy_score(Y_test,Y_pred))

0.6948051948051948

In [16]:
print(classification_report(Y_test,Y_pred))

              precision    recall  f1-score   support

           0       0.75      0.81      0.78       101
           1       0.57      0.47      0.52        53

    accuracy                           0.69       154
   macro avg       0.66      0.64      0.65       154
weighted avg       0.68      0.69      0.69       154

**MODEL 2 : Decision Tree**

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
model2 = DecisionTreeClassifier()

In [19]:
model2.fit(X_train,Y_train)

DecisionTreeClassifier()

In [20]:
Y_pred2 = model2.predict(X_test)

In [21]:
print(accuracy_score(Y_test,Y_pred2))

0.6883116883116883

In [22]:
print(classification_report(Y_test,Y_pred2))

              precision    recall  f1-score   support

           0       0.73      0.83      0.78       101
           1       0.56      0.42      0.48        53

    accuracy                           0.69       154
   macro avg       0.65      0.62      0.63       154
weighted avg       0.67      0.69      0.67       154