**Logostic Regression**

Use an appropriate mul-diamensional dataset to perform Logistic regression to multiclass classification. Illustrate the gradient descent method and compute the regression parameters. Also demonstrate the feature pre-procesing like removal of noise, NAN's, Missing value inputation.
```
z = b0 + b1x1 + b2x2


**Y_pred = 1/(1+e^-z)**
predict = 1/(1+np.exp(-(b0 + b1*X1_train[i] + b2*X2_train[i])))

b0 = b0 + rate*(Y[i]-predict)*predict*(1-predict)*1.0

b1 = b1 + alpha*(Y_array[i]-predict)*predict*(1-predict)*X1_train[i]

b2 = b2 + alpha*(Y_array[i]-predict)*predict*(1-predict)*X2_train[i]
```

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('Student-University.csv', header=None, names=['x1','x2','y'])

In [3]:
df.head()

          x1         x2  y
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [4]:
df.describe()

               x1          x2           y
count  100.000000  100.000000  100.000000
mean    65.644274   66.221998    0.600000
std     19.458222   18.582783    0.492366
min     30.058822   30.603263    0.000000
25%     50.919511   48.179205    0.000000
50%     67.032988   67.682381    1.000000
75%     80.212529   79.360605    1.000000
max     99.827858   98.869436    1.000000

In [5]:
X = df.drop(['y'], axis=1)

In [6]:
Y = df['y']

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

**Standard Scalar**

StandardScaler is used to resize the distribution of values ​​so that the mean of the observed values ​​is 0 and the standard deviation is 1

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X_scaled,Y,test_size=0.2, random_state=100)

In [11]:
X1_train = X_train[:,0]
X2_train = X_train[:,1]

In [12]:
Y_train

29    0
83    1
82    1
43    0
28    0
     ..
79    0
87    1
67    0
24    1
8     1
Name: y, Length: 80, dtype: int64

In [13]:
b0=0.0
b1=0.0
b2=0.0

In [26]:
X_train[:,0]
# print(Y_train[])

array([-1.38726847, -0.43415649,  0.08651467,  0.86383711, -0.19700066,
       -0.78042096, -1.62350714,  1.46947562, -1.21735452,  0.0892403 ,
       -0.69916396, -0.23437234, -0.28210129,  0.86065022,  1.73693492,
        0.7604318 , -0.26788246, -1.08343328, -0.79324552,  0.75592876,
        1.76561835, -0.35139858, -1.70794943,  1.48750373, -0.94934675,
        0.4716578 ,  0.11893077,  0.45703019, -1.83802631, -1.60224763,
        0.25914553, -0.75392586,  0.47234786, -0.17672918, -1.62497511,
       -1.70042734,  1.25003483, -0.22029098, -0.08289756,  0.59650575,
        1.65290418,  1.20190067,  1.28116721,  0.67100669,  0.58543944,
        1.50770647, -0.82939191, -0.68676645, -1.56803122,  0.04734442,
        1.65941042,  1.33883167,  0.4845113 ,  1.73912916,  0.31776703,
        0.92170742,  0.1921582 , -1.82625564,  1.02063763,  0.69152826,
        1.41886056, -1.53903969,  0.97044832,  0.17694982,  0.44442728,
        0.50366692, -0.60293429, -0.53222578, -1.31231814, -1.34839922,
       -1.30092096, -1.60736862,  1.28623744,  1.56075461, -0.1844568 ,
        0.8564979 ,  0.50790698, -0.85594644,  0.63426559,  0.53998666])

In [15]:
epoch = 1000 #number of iterations to generate final b0,b1 and b2

In [34]:
alpha = 0.001 #learning rate
Y_array = list(Y_train)

In [31]:

while epoch>0 :
    for i in range(len(X_train)):
        predict = 1/(1+np.exp(-(b0 + b1*X1_train[i] + b2*X2_train[i])))
        b0 = b0 + alpha*(Y_array[i]-predict)*predict*(1-predict)*1.0
        b1 = b1 + alpha*(Y_array[i]-predict)*predict*(1-predict)*X1_train[i]
        b2 = b2 + alpha*(Y_array[i]-predict)*predict*(1-predict)*X2_train[i]

    epoch-=1

print(b0)
print(b1)
print(b2)

0.46285691745377167
1.491286141888033
1.3289285051606823

In [33]:
prediction = []
X1_test = X_test[:,0]
X2_test = X_test[:,1]

for i in range(len(X_test)):
  prediction.append(round(1/(1+np.exp(-(b0 + b1*X1_test[i] + b2*X2_test[i])))))

print(prediction)

[1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0]

In [36]:
print(list(Y_test))

[1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0]

In [37]:
from sklearn.metrics import accuracy_score, classification_report

In [40]:
print(accuracy_score(Y_test,prediction))

0.85